@import "./components/variables";
@import "./components/mixins";
@import "./components/fonts";
@import "./components/base-layout";
@import "./components/buttons";
@import "./components/header";
@import "./components/top";
@import "./components/nav";
@import "./components/catalogue";
/* @import 'react-datetime.css'; */

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}

.breadcrumbs ul {
  width: 940px;
  height: 60px;
  display: flex;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: 400;
  li {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    &:nth-child(1) {
      width: 15px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        .bg-img('/icons/icon-home.svg', unset);
        width: 15px;
        height: 100%;
      }
    }
    &:nth-child(n+2) {
      padding-left: 38px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        .bg-img('/icons/icon-right.svg', unset);
        width: 38px;
        height: 100%;
      }
    }
  }
}