//basic tags and general rules
[class*="-container"] {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 960px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cuprum";
    background-color: @lightBrown;
}

.wrapper {
    max-width: 1200px;
    min-width: 960px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42px;
    background-color: @darkBlue;
}

.top {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: @lightBlue;
}

.top-container {
    display: flex;
    flex-direction: row;
    height: 160px;
    background-color: @lightBlue;
}

nav {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: @lightBlue;
}

.breadcrumbs {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.catalogue-component {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.catalogue {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.info {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: @lightBlue;
}

.footer-top {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: @blue;
}

.footer-bot {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: @darkBlue;
}