//adding icon fonts, icon sprite sheets
.catalogue-title {
    min-width: 940px;
    height: 90px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: @lightBlue;
    h1 {
        font-size: 30px;
        font-weight: normal;
        text-transform: uppercase;
        color: @blue;
    }
}